PORT=8080
NODE_ENV=

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=test

# JWT (chỉ dùng access token)
JWT_SECRET=nguyen_tan_nghia_0502
JWT_EXPIRES_IN=7d

# Upload
UPLOAD_DIR=./public/uploads
MAX_FILE_SIZE=5242880
